
 .center {
 text-align: center;
}

 .panelcolor {
  background-color: #0288d1;
 }

.bodycolor {
    background-color: #8BA1A5;
  }
  
#logo {

    margin-top: 100px;
}

.iconcenter {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fontstyle {

    font-family: "roboto";
}
